mixin session(sessionInfo)
    .section
        .session.inner
            div(class="room"+" "+sessionInfo.room)
                .name Room
                .val=sessionInfo.track
            h2=sessionInfo.title
            .text
                p.show !{sessionInfo.summary01}
                p !{sessionInfo.summary02}
            .readmore READ MORE
        .speaker.inner
            .profile
                .icon
                    img(src="/assets/speakers/" + sessionInfo.img)
                .name
                    p=sessionInfo.name
            .detail
                .text
                    p !{sessionInfo.profile}
                .sns
                    .twitter: a(href=sessionInfo.twitter, title="title")
                        i.fa.fa-twitter
                    .facebook: a(href=sessionInfo.facebook, title="title")
                        i.fa.fa-facebook
                    .gitHub: a(href=sessionInfo.github, title="title")
                        i.fa.fa-github
                    .other: a(href=sessionInfo.other, title="title")
                        i.fa.fa-link

            .readmore READ MORE

mixin sessionEmpty()
    .section.sectionEmpty

#secTimetable
    .container
        .secTimetable_contents
            h1.secTimetable_heading
                span Time Table
            .pc
                .secTimetable_timeline
                    .time 10:40<br>|<br>11:20
                    .time 11:40<br>|<br>12:10
                    .time 13:10<br>|<br>13:40
                    .time 14:00<br>|<br>14:30
                    .time 14:45<br>|<br>15:15
                    .time 15:30<br>|<br>16:00
                    .time 16:15<br>|<br>16:45
                    .time 17:10<br>|<br>17:50
                .secTimetable_sections
                    each sessionInfo in speakers.findByRoom("901+902")
                        +session(sessionInfo)
                    +sessionEmpty()
                .secTimetable_sections
                    +sessionEmpty()
                    each sessionInfo in speakers.findByRoom("905")
                        +session(sessionInfo)
                    +sessionEmpty()
                .secTimetable_sections
                    +sessionEmpty()
                    each sessionInfo in speakers.findByRoom("907")
                        +session(sessionInfo)
                    +sessionEmpty()
            .sp
                .secTimetable_sp_contents
                    .content
                        .time
                            h2 10:00 - 12:00
                        .wrap
                            each sessionInfo in speakers.findByTime("13:10-13:40")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 10:00 - 12:00
                        .wrap
                            each sessionInfo in speakers.findByTime("13:10-13:40")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 10:00 - 12:00
                        .wrap
                            each sessionInfo in speakers.findByTime("13:10-13:40")
                                +session(sessionInfo)
