mixin ogp(title,description,image)
    title=title
    meta(name="description", content=description)
    meta(property="og:title", content=title)
    meta(property="og:image", content=image)
    meta(property="og:description", content=description)
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@frontkansai")
    meta(name="twitter:creator", content="@frontkansai")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name="twitter:image", content=image)
doctype html
html(lang="ja")
    head
        meta(name="viewport", content="width=device-width,initial-scale=1")
        +ogp("PHPカンファレンス関西2017 は 大阪グランフロントにて 7/15 開催!","PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。 今年で7回目の開催となるPHPカンファレンス関西2017は、7月15日(土)にグランフロントで開催いたします。 詳細情報は本サイトの更新をチェック！","https://2017.kphpug.jp/images/ogp.jpg")
        link(rel="icon", type="image/png",href="/assets/images/favicon.ico")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/assets/css/main.css')
        link(rel='stylesheet', href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css")
        meta(property="og:url",content="https://2017.kphpug.jp/")
        script(src="https://code.jquery.com/jquery-3.2.0.min.js")